appdirs==1.4.4
asyncgui==0.6.3
asynckivy==0.6.4
build==1.6.0
buildozer==1.6.0
certifi==2026.7.22
charset-normalizer==3.5.1
colorama==0.4.6
Cython==0.29.33
distlib==0.4.3
docutils==0.23
filelock==3.32.4
filetype==1.2.0
idna==3.18
Jinja2==3.1.6
Kivy==2.3.1
Kivy-Garden==0.1.5
kivymd==2.0.0
MarkupSafe==3.0.3
materialshapes==0.3
materialyoucolor==3.0.4
meson==1.12.0
ninja==1.13.2
numpy==2.5.2
opencv-python==5.0.0.93
packaging==26.3
pandas==3.0.5
pandas-stubs==3.0.5.260730
pexpect==4.9.0
pillow==12.3.0
platformdirs==4.11.4
ptyprocess==0.7.0
pycairo==1.29.1
Pygments==2.20.0
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
python-discovery==1.5.3
pyzbar==0.1.9
requests==2.34.2
setuptools==84.0.0
sh==2.4.0
six==1.17.0
toml==0.10.2
urllib3==2.7.0
virtualenv==21.7.5
wheel==0.43.0

pyside6